# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="mysql://<user>:<password>@localhost:3306/<schema>?schema=public"

# The cookie password is a private key you must pass at runtime and builtime, used by iron-session.
# It has to be at least 32 characters long. 
# You can use https://1password.com/password-generator/ to generate strong passwords.
# See the docs for more: https://www.npmjs.com/package/iron-session#nextjs-usage
SECRET_COOKIE_PASSWORD="complex_password_at_least_32_characters_long"
